




* {
    margin: auto;
    height: auto;
    padding: auto;
    background-color:#5B627F;
}
.title{
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F4EAE2;
    font-size: 50px;

}
.card-card{
    align-items: center;
    justify-content: center;
    text-align: center;

}
.card{
    margin:auto;
    display: block;
    margin-top: 80px;
    display: block;
    background-color: #F4EAE2;
    border-radius: 25px;
    clear: both;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.card-body{
    background-color: #F4EAE2;
    margin-left: auto;
    border-radius: 25px;
}
.card .card-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 0px 20px 0px;
    background-color: #F4EAE2;

}

.card .card-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    padding: 0px 0px 20px 0px;
    background-color: #F4EAE2;
    text-align: center;
}
.card .btn {
    margin-top: -20px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 30px;
    background-color: #DB5A68;
    font-size: 20px;
}
.navbar{

    border-radius: 20px;
}
.navbar .btn{
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #F4EAE2;
}


.button{
    vertical-align: middle;
    background-color: #F4EAE2;
    text-align: left;
    display: flex;

}
.button1{
    background-color: #F4EAE2;
    margin: auto;
    padding: 40px;
    font-size: 100px;
    
}

.button1 .btn {
    justify-content: center;
    background: #E9A965;
    font-size: 40px;
    border-radius: 20px;
	font-size: 30px;
    
}

.input{

	margin: auto;
    background-color: #F4EAE2;
    text-align: center;
}
.input .form-control{
    border-radius: 7.1111111111111111px;

}
.card .h4{
    background-color: #F4EAE2;
}

h1{
    text-align: center;
    margin-top: 70px;
    color:#F4EAE2;
    font-size: 80px;
    
}
h2{
    text-align: center;
    margin-top: 10px;
    background-color: #F4EAE2;
    font-size: 30px;
}